$border-radius: none;
$btn-border-radius: none;
$border-radius-sm: none;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variables.scss';

body{
    background-color: black;
}
.spostato{
    @media screen and (min-width:992px) {
        margin-left: 10px;
    }
    
}
.logo{
    width: 100px;
    
}

.avatar{
    width: 32px;
}



.dropdown-menu[data-bs-popper] {
    
    left: -100px;
}

.margin{
    margin-left: 89px;
}

.text{
    color: $colore;
}

h3{
    font-size: 1.2em;
    margin-right: 20px;
    font-weight: bold;
}

.img_box {
    img{
        max-width: 100%;
    }
    
}

.carousel{
    margin-top: 20px;
}

.centro{
    margin: 0 auto;
}

.centrato{
    width: 40%;
    @extend .centro;
}

h1{
    font-size: 4em;
}

.sinistra{
    margin-left: 28px;
}

.piccolina{
    font-size: 0.6em;
}

.check{
border-radius: none;
background-color: transparent;
width: 20px;
height: 20px;

}

.form-check-input{
    :checked{
        background-color: none;
        border-color: none;
    }
}

.grassetto{
    font-weight: 600;
    font-size: 0.8em;
}