$border-radius: none;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variables.scss';

body{
    background-color: black;
}
.spostato{
    @media screen and (min-width:992px) {
        margin-left: 10px;
    }
    
}
.logo{
    width: 100px;
    
}

.avatar{
    width: 32px;
}

.icone{
    color: $colore;
}

.dropdown-menu[data-bs-popper] {
    
    left: -100px;
}

.margin{
    margin-left: 89px;
}

.text{
    color: $colore;
}

h3{
    font-size: 1.2em;
    margin-right: 20px;
    font-weight: bold;
}

.img_box {
    img{
        max-width: 100%;
    }
    
}

.carousel{
    margin-top: 20px;
}