<h2 class="fw-bold"> Le nostre Ford</h2>

<div class="row d-flex justify-content-center align-items-center">
  <div class="col-12 col-sm-3 col-md-4 mb-2" *ngFor="let auto of autoArr">
  <div class="card" [ngClass]="{
    'bg-success': auto.available,
    'bg-danger': !auto.available}">

    <img src="{{auto.modelImage}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title fw-bold">{{auto.brand}}</h5>
      <p class="card-text">{{auto.year}}</p>
      <p class="card-text">{{auto.model}}</p>
      <p class="card-text"><span class="badge text-bg-info">{{auto.price | currency: 'EUR'}} </span> </p>
      <p class="card-text"> Disponibilita':<span class="fw-bold"> {{auto.available ? 'Si':'No'}}</span></p>

    </div>

  </div>
  </div>
</div>

