
<h1 class="text-white">Accedi</h1>
<div class="container pt-3">

  <div class="row">

    <div class="col-4 border border-info border-3 bg-info bg-opacity-50 rounded p-5 mx-auto">
<form>


  <input type="email" name="email" [(ngModel)]="loginData.email" class="form-control m-3" placeholder="Email">
  <input type="password" name="password" [(ngModel)]="loginData.password" class="form-control m-3" placeholder="Password">

  <button (click)="signIn()" class="btn btn-primary m-3">Accedi</button>
</form>
</div>

</div>

</div>
