

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="../assets/img/logo.png" alt="">
  <h1 class="display-5 fw-bold text-body-emphasis">AutoRent- Poche auto ma grante qualita' </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"> Solo qui si puo' trovare una poca scelta di auto ma ci assicureremo che tu ne esca pienamente soddisfatto!</p>
    </div>
  </div>



<div class="row d-flex justify-content-center align-items-center mb-3">
  <h2 class="fw-bold">I nostri marchi:</h2>
  <div class="col-3 ">
   <img class="logo" src="../assets/loghi/audi.png" alt="">
  </div>
  <div class="col-3">
    <img class="logo" src="../assets/loghi/fiat logo.png" alt="">
  </div>
  <div class="col-3">
    <img class="logo" src="../assets/loghi/ford.png" alt="">
  </div>
</div>


<div class="container">

<div class="row d-flex justify-content-center align-items-center">

  <div class="col-12 col-sm-3 col-md-4  mb-2 mt-3 " *ngFor="let auto of autoRandom">
  <div class="card d-flex justify-content-center gap-3 mx-auto" [ngClass]="{
    'bg-success': auto.available,
    'bg-danger': !auto.available}">

    <img src="{{auto.modelImage}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title fw-bold">{{auto.brand}}</h5>
      <p class="card-text">{{auto.model}}</p>
      <p class="card-text"> <span class="badge text-bg-info"> {{auto.price}} €</span> </p>
      <a [routerLink]="['/' + auto.brand.toLowerCase()]" class="btn btn-primary">Vedi altro</a>

    </div>

  </div>
  </div>
</div>
</div>

