header {
  text-align: center;
}
body {
  margin: 0;
}
#frontespizio {
  border-top: 1px solid yellow;
  background-color: #fdfbf1;
  color: #107777;
  padding: 10px;
}
#frontespizio b{
    text-transform: uppercase;
}
.container{
    width: 800px;
    margin: 0 auto;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.3em;
  
}
figcaption {
  text-align: center;
  color: gray;
  padding: 5px;
}
video {
  width: 750px;
  border-radius: 1em;
  box-shadow: 5px 10px 3px grey;
}
.feature {
  line-height: 1;
  border-left: 2px solid rgba(185, 10, 10, 0.778);
  padding: left 10px; ;
}
.feature p {
  text-transform: uppercase;
  color: red;
}
.ricetta{
    border-bottom:1px solid skyblue;
}