#logo img {
  width: 20vw;
}
#frontespizio {
  border-top: 1px solid yellow;
  background-color: #fdfbf1;
  text-align: center;
  color: #107777;
  padding: 10px;
}
span {
  font-weight: bold;
}

main {
  width: 50%;
  margin: 0 auto;
}
