<h1 class="text-white">Registrati</h1>
<div class="container pt-3">

  <div class="row">

    <div class="col-6 border border-info border-3 bg-info bg-opacity-50 rounded p-5 mx-auto">
<form>

  <input type="text" name="nome" [(ngModel)]="registerData.name" class="form-control m-3 border-success-subtle border-3" placeholder="Nome">
  <input type="email" name="email" [(ngModel)]="registerData.email" class="form-control m-3 border-success-subtle border-3" placeholder="Email">
  <input type="password" name="password" [(ngModel)]="registerData.password" class="form-control m-3 border-success-subtle border-3" placeholder="Password">

  <button (click)="signUp()" class="btn btn-primary m-3">Registrati</button>
</form>
</div>

</div>

</div>
