
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">EpiBlog</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
  </ul>
</header>


<div class="container">

  <h1>Post in evidenza</h1>
<div class="row">
<div class="col-12">
  <h2>{{articleArr[4].title}}</h2>
  <p>{{articleArr[4].body}}</p>
</div>
<h2>Ti potrebbe interessare:</h2>
<div class="col-4" *ngFor="let articolo of postRandom">

  <h2>{{articolo.title}}</h2>
  <p>{{articolo.body}}</p>

</div>

</div>
</div>
