body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.container {
  margin: 0 auto;
}
/*menu*/
nav {
  background-color: #ffc017;
  height: 80px;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  margin: 0 auto;
  z-index: 1000;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.menu a {
  text-decoration: none;
  color: black;
}

.menu button {
  background-color: black;
  color: white;
  border-radius: 21px;
  width: 100px;
  padding: 10px;
}

header {
  background-color: #ffc017;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  gap: 20px;
}
.head-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
  flex-wrap: wrap;
  width: 550px;
  margin-left: 214px;
  gap: 30px;
}

.head-text h1 {
  font-family: "Spectral", serif;
  font-size: 7em;
  letter-spacing: -10px;
  padding: 10px;
}

.head-text h2 {
  color: #242424;
  font-size: 1.5em;
  width: 87%;
  padding: 10pxa;
}

.head-text button {
  background-color: black;
  color: white;
  font-size: 1.1em;
  border-radius: 21px;
  width: 200px;
  padding: 10px;
  margin: 20px;
  margin-left: 62px;
  align-self: flex-start;
}

.head-m {
  max-height: 400px;
  overflow: hidden;
}

/* trending*/
/*#F2F2F2*/
.trending{
    height: 400px;
    width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  gap: 40px;
  
  align-content: center;
  margin: 0 auto;
  z-index: -1;
}

.article{
    
    width: 277px;
    height: 100px;
    position: relative;

}
.article img{
    float: left;
    width: 20px;
    
}
.number{
    position: absolute;
    color: #F2F2F2;
    font-size: 2em;
    left: -44px;
    top: 0;
    font-weight: bold;
}
.article p{
    font-size: 0.8em;
}
.article h3{
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 10px;
}
.trending-title{
  display: flex;
  position: absolute;
  top:38px;

}
.trending-title h5{
  padding-top: 5px;
}
.section-trending{
    border-bottom: 1px solid #F2F2F2;
}

/*news*/

.final-part{
  width: 100%;
  height:1000px;
  display: flex;
  
}
.news-part{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.news{
  height: 14%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}
.pic-news{
  width: 200px;
  height: 134px;
  float: right;
}


.pic-author{
  width: 4%;
  float: left;
}
.author{
  display: flex;
  justify-content: flex-start;
  gap:11px
}
.author-name{
  padding-top: 3px;
  font-weight: bold;
  font-size: 0.8em;
}
.title-news{
  font-weight: bolder;
  font-size: 1.2em;
}
.description{
  color: #6B6B6B;
}

.information{
  color: #6B6B6B;
  font-size: 0.8em;
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  position: relative;
}
.bookmark{
  position: absolute;
  right: 0;
}

.category{
  background-color:#F2F2F2 ;
  width: 40px;
  height: 20px;
  padding: 5px;
  border-radius: 10px;
}

/*TAG COLLECTOR*/
.tag-collector{
  position: relative;
}

.tags{
 
  position: sticky;
  top: 100px;
 
  
}