<div class="row ">

  <div class="col-6 mx-auto">
    <h1>Cose gia' fatte:</h1>

    <div *ngFor="let todos of todoArr" (click)="checkedTodo(todos.id)" [ngClass]="
    {'alert':true,
    'alert-success': todos.completed,
    'alert-danger' : !todos.completed
    }">
      <input type="checkbox" id="todo" class="form-check-input ms-1 p-2"  [(ngModel)]="todos.completed">
      <label for="todo" class="form-check-label ms-3">{{todos.todo}}</label>
      <p>Assigned to:</p>
    </div>


  </div>

  </div>
