/* Your styles here */
header {
  background-color: #131921;
}
header img {
  width: 150px;
}
.menu {
  background-color: #232f3e;
  display: flex;
  text-decoration: none;
  color: white;
  padding: 12px 0;
  margin: 20px 3px;
}

#ancora {
  font-size: 1em;
  padding: 12px 3px;
  margin: 20px;
  text-decoration: none;
  color: white;
}


#container {
  background-color: #e3e6e6;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  margin: 20px 20px 0 20px;
  padding-bottom: 10px;
}
.bg-arancione {
  background-color: #f68426;
  color: white;
  text-align: center;

  padding: 12px 0;
}
.bg-ottanio {
  block-size: fit-content;
  background-image: url(../images/bg-image.png);

  color: white;
  padding: 80px;
  margin: 20px 0;
}
.bg-ottanio h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
.bg-ottanio p {
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
}
.gift {
  background-color: white;

  width: 100%;
  margin: 0 auto;
}
.h3 {
  display: flex;
}
.h3 h3 {
  font-size: 1.2em;
  padding-top: 15px;
  padding-left: 15px;
  display: flex;
}
.h3 a {
  text-decoration: none;
  padding-top: 15px;
  padding-left: 10px;
}

.foto {
  width: calc(100% / 5);
  margin-bottom: 10px;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
}
.foto img {
  border-radius: 10%;
  max-width: 100%;
  width: fit-content;
  height: 400px;
}

.foto1-bg {
  background-image: url(../images/img_9.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  overflow: visible;
}
.foto2-bg {
  
  background-image: url(../images/img_10.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  overflow: visible;
}
.p{
    text-align: center;
    display: flex;
    justify-content: center;

}
.p a{
    text-decoration: none;
}
footer {
  background-color: #131921;
  text-align: center;
  padding: 50px;
  
}
footer img{
    
    width: 150px;
    
}
.footer {
  background-color: #232f3e;
  text-align: center;
  display: block;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  
  
}
.footer a{
    
    color: white ;
}